<!-- <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"> -->
  <!-- <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedBottomGap="0px">
  
    <mat-nav-list>
    
      <mat-list>
        <h3 mat-subheader>Items</h3>
        <mat-list-item>
          item 1
        </mat-list-item>
        <mat-list-item>
          item 2
        </mat-list-item>

        <mat-list-item>
          <h3 mat-line>contact name</h3>
          <p mat-line *ngIf="thirdLine">extra line</p>
          <p mat-line class="demo-secondary-text">Headline</p>
        </mat-list-item>
      </mat-list>

      <a mat-list-item routerLink=".">Menu item</a>
      <a mat-list-item routerLink=".">Menu item</a>
      <a mat-list-item routerLink=".">Menu item</a>
      <a mat-list-item routerLink=".">Menu item</a>
      <a mat-list-item routerLink=".">Menu item</a>
    </mat-nav-list>
  </mat-sidenav>
  -->

  
  <mat-nav-list>
    
      <mat-list>
        <h3 mat-subheader>Dashboard</h3>
        <mat-list-item routerLink="/courses">
          Courses
        </mat-list-item>
        <mat-list-item>
          My Activities
        </mat-list-item>

    
      </mat-list>

     
    </mat-nav-list>
  
    
  <!-- </mat-sidenav-container> -->