<div class="content-wrapper" style="min-height: 1068.81px;">
  <!-- Content Header (Page header) -->
   <section class="content-header">
    <h1>
      {{(template|async)?.title}}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Courses</a>
      </li>
      <li class="active">Computer Graphics</li>
      <li class="active">MOOC Monitor</li>
    </ol>
  </section>
 <section class="content">

    <div class="row" *ngFor="let row of (template|async)?.rows">
      <course-intro *ngIf="row.type == 'intro'" [data]="row" ></course-intro>
      <course-columns *ngIf="row.type === 'columns'" [data]="row"></course-columns>
     
    </div>


  </section> 


  <!-- /.content -->
</div>