<!-- <div class="content-wrapper" style="min-height: 1068.81px;">
    <!-- Content Header (Page header) -->
    <!-- <section class="content-header">
        <h1>
            Icons<button mat-button>Click me!</button>
            <small>a set of beautiful icons</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>

            </li>
            
            <li>
                <a href="#">UI</a>
            </li>
            <li class="active">Icons</li>
        </ol>
       
    </section> -->

    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="2"
            [rowspan]="3"
            
        >test
        </mat-grid-tile>
      </mat-grid-list>
    <!-- /.content -->
<!-- </div> -->