<div class="content-wrapper" style="min-height: 1068.81px;">

    <section class="content-header">
        <h1>
            Privacy Dashboard
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Settings</a>
            </li>
            <li class="active">Privacy Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="data-collection-grid">
            <div class="box box-info data-collection-overview">
                <div class="box-header with-border">
                    <h3 class="box-title">Data Settings</h3>
                </div>
                <div class="box-body">
                    <ng-container *ngFor="let course of courseData; let courseIndex = index">
                        <h4>{{ course.title }}</h4>
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of course.data; let i = index" (click)="highlightClickedRow(courseIndex, i)" [class.active-row]="i == selectedRow && courseIndex == selectedCourseIndex">
                                        <td>
                                            {{ data.name }}
                                        </td>
                                        <td>
                                            <span class="dataDescription">{{ data.description }}</span>

                                        </td>
                                        <td>
                                            <span *ngIf="data.enabled" class="label label-success">Enabled</span>
                                            <span *ngIf="!data.enabled" class="label label-danger">Disabled</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="selected-data-item">
                <div *ngIf="selectedDataItem" class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ selectedDataItem.name }}</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong>Description</strong>
                        <p>
                            {{ selectedDataItem.description }}
                        </p>
                        <hr>
                        <strong>Used In</strong>
                        <p>This data is used in the following course widgets that you can view in your dashboard:</p>
                        <ng-container *ngFor="let widget of getWidgetsForSelected(); let courseIndex = index">
                            <p>
                                {{ widget.name }}
                            </p>
                        </ng-container>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="button-list">
                                    <button class="btn-primary btn btn-app" (click)="downloadClick()">
                                        <i class="fa fa-download" aria-hidden="true"> </i>
                                        Download</button>
                                    <button class="btn-warning btn btn-app" (click)="pauseClick()">
                                        <i class="fa fa-pause" aria-hidden="true"> </i>
                                        Pause</button>
                                    <button class="btn-danger btn btn-app" (click)="pauseClick()">
                                        <i class="fa fa-times" aria-hidden="true"> </i>
                                        Delete</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.footer -->
                </div>
            </div>
            <div class="main-function">
                <button class="btn-app btn-primary btn" (click)="contactClick()">
                    <i class="fa fa-envelope" aria-hidden="true"> </i>
                    Contact</button>
                <button class="btn-app btn-primary btn" (click)="timelineClick()">
                    <i class="fa fa-calendar" aria-hidden="true"> </i>
                    Timeline</button>
            </div>
        </div>



    </section>
</div>