.data-collection-grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 10px;
}

.active-row {
  background-color: rgb(194, 194, 194);
}

.dataDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-collection-overview {
  grid-column: col-start / span 8;
}

.selected-data-item {
  grid-column: col-start 9 / span 4;
}

.button-list {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-function {
  display: flex;
  grid-column: col-start 1 / span 12;
}

.dashboard-button {
  min-width: 150px;
}

.mat-form-field-infix {
  width: 250px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: darkolivegreen;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: darkolivegreen;
}

.course-select {
  min-width: 200px;
}
