<div class="content-wrapper" style="min-height: 1068.81px;">

    <section class="content-header">
        <h1>
            Privacy Dashboard
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Settings</a>
            </li>
            <li class="active">Privacy Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="data-collection-grid">
            <div class="box box-info data-collection-overview">
                <div class="box-header with-border">
                    <h3 class="box-title">Data Settings</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Assignment Grades
                                    </td>
                                    <td>The grades for your assignments</td>
                                    <td>
                                        <span class="label label-success">Enabled</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR1848</a>
                                    </td>
                                    <td>Samsung Smart TV</td>
                                    <td>
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR7429</a>
                                    </td>
                                    <td>iPhone 6 Plus</td>
                                    <td>
                                        <span class="label label-danger">Delivered</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR7429</a>
                                    </td>
                                    <td>Samsung Smart TV</td>
                                    <td>
                                        <span class="label label-info">Processing</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR1848</a>
                                    </td>
                                    <td>Samsung Smart TV</td>
                                    <td>
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR7429</a>
                                    </td>
                                    <td>iPhone 6 Plus</td>
                                    <td>
                                        <span class="label label-danger">Delivered</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="pages/examples/invoice.html">OR9842</a>
                                    </td>
                                    <td>Call of Duty IV</td>
                                    <td>
                                        <span class="label label-success">Shipped</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Browser Usage</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <button class="btn-primary btn" (click)="downloadClick()">
                                <i class="fa fa-download" aria-hidden="true"> </i>
                                Download</button>
                        </li>
                        <li>
                            <button class="btn-warning btn pull-right" (click)="pauseClick()">
                                <i class="fa fa-pause" aria-hidden="true"> </i>
                                Pause</button>
                        </li>
                    </ul>
                </div>
                <!-- /.footer -->
            </div>
        </div>



    </section>
</div>